/* Hero Section  */
.hero {
  height: 100vh;
}

.mobile-hero {
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto;
  object-fit: cover;

  @media (--viewport-medium) {
    display: none;
  }
}

.hero-items {
  --mb: 1rem;

  position: absolute;
  top: 10rem;
  left: 50%;
  top: 10rem;
  translate: -50% 0;
  text-align: center;
  width: 27ch;

  & h1 {
    font-size: var(--fs-600);
    margin-bottom: var(--mb);
  }

  & p {
    margin-bottom: var(--mb);
    color: #000;
    font-weight: 400;
    font-size: var(--fs-400);
  }
}

.hero-btn {
  display: flex;
  width: 10em;
  margin: auto;
  border-radius: 12rem;
  background-color: var(--clr-accent-blue);

  @media (min-width: 65.625em) {
    margin-top: 4rem;
  }

  & .arrow-container {
    width: 30%;
    padding-top: 0.8rem;
    background-color: var(--clr-hero-btn);
    border-top-left-radius: 12rem;
    border-bottom-left-radius: 12rem;

    & span {
      display: block;
      width: 15px;
      height: 15px;
      margin: auto;
      rotate: 42deg;
      border-bottom: 2px solid #fff;
      border-right: 2px solid #fff;
    }
  }

  & > span {
    padding: 0.8rem;
    color: white;
    font-weight: 500;
  }

  &:hover {
    cursor: pointer;
  }
}

.desktop-hero {
  display: none;
}

@media (--viewport-medium) {
  .desktop-hero {
    position: relative;
    display: block;
    object-fit: cover;
  }
}

/* News Archive Section  */
#news-archive {
  margin-bottom: 3rem;
  padding-top: 3rem;
  padding-inline: clamp(1rem, 7vw, 7rem);
  text-align: center;
}

.news-articles {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin-bottom: 2rem;

  @media (--viewport-medium) {
    grid-template-columns: repeat(2, 1fr);
  }

  & > * {
    user-select: none;
  }
}

.news {
  & > * {
    margin-bottom: 1rem;
  }

  & h5 {
    margin-top: 1rem;
    font-size: var(--fs-200);
    font-weight: 500;
    color: var(--clr-accent-pink);
  }

  & p a {
    font-size: var(--fs-300);
    font-weight: 600;
    color: black;
  }
}

.news-btn {
  padding: 0.6rem 1.5rem 0.7rem;
  background-color: #1934ab;
  border-radius: 10px;

  @media (--viewport-medium) {
    background-color: var(--clr-accent-blue);
  }

  & a {
    font-size: var(--fs-200);
    font-weight: 500;
    color: white;
  }
}

/* Front Page Banner Section */
.front-page {
  margin: auto;
}

.front-page .container {
  width: 100%;
  height: 100%;
}

.games {
  background-color: #1934ab;
}
.careers {
  background-color: #1f7aeb;

  .text-info {
    order: 2;
  }
}

.games,
.careers {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 100%;
  padding-top: 3rem;
  padding-bottom: 2rem;
  padding-inline: clamp(1rem, 6vw, 7rem);
  color: white;

  @media (--viewport-medium) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .text-info {
      width: 50%;
      text-align: left;
    }
  }

  & h2 {
    font-size: var(--fs-700);
    font-weight: 700;
    margin-bottom: 2rem;
  }

  & p {
    font-weight: 500;
    font-size: var(--fs-300);
    margin-bottom: 3rem;
  }

  button {
    padding: 1rem 1.5rem;
    border-radius: var(--btn-br);

    & a {
      font-size: var(--fs-300);
      font-weight: 600;
      color: black;
    }
  }
}
.character {
  margin: auto;

  @media (--viewport-medium) {
    width: 45%;
  }
  & img {
    max-width: 100%;
    height: auto;
    display: block;
  }
}
