.articles {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-container {
  display: flex;
  padding: 3rem 2rem;
  /* outline: 2px solid red; */
  transition: transform 0.5s ease;

  @media (min-width: 670px) {
  }

  @media (--viewport-medium) {
  }
}

.card {
  flex: 0 0 100%;
  /* outline: 2px solid green; */
  background-color: #fff;
  box-shadow: 5px 5px 10px 10px #e9dfdf;
  margin-right: 3rem;

  /* @media (min-width: 600px) {
    max-width: 583px;
  } */

  @media (--viewport-medium) {
    flex: 0 0 50%;

    & img {
      width: 100%;
      height: 250px;
    }
  }
}

.card-text {
  --mb: 1rem;
  padding-block: 2rem;
  padding-inline: clamp(1.5rem, 5vw, 2.5rem);

  & h3 {
    font-size: var(--fs-400);
    font-weight: 500;
    text-align: center;
    margin-bottom: var(--mb);

    @media (--viewport-medium) {
      text-align: left;
    }
  }

  & p {
    font-size: var(--fs-300);
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: var(--mb);
  }
}

.read-article {
  position: relative;
  display: flex;
  align-items: center;

  & a {
    font-size: var(--fs-200);
    font-weight: 600;
    color: #2d85f3;
    text-transform: uppercase;

    &::after {
      position: absolute;
      content: '>>';
      font-size: var(--fs-100);
      font-weight: 600;
      color: #2d85f3;
      margin-left: 0.4rem;
    }
  }
}

.carousel-btn {
  display: none;

  @media (--viewport-medium) {
    position: absolute;
    top: 50%;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateY(-50%);
    width: 100%;

    & > * {
      width: 60px;
      cursor: pointer;
    }

    .carousel-next {
      right: 0;
      transform: scaleX(-1); /*Reverse the next image*/
    }
  }
}
