/* Main nav */
.nav-main {
  position: relative;
  z-index: 100;
  width: 100%;

  @media (--viewport-medium) {
    color: red;
    width: max(80%, 700px);
    margin: auto;
  }
}

.nav-menu {
  position: fixed;
  top: 0;
  left: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  translate: -50%;
  width: 100%;
  height: 4rem;
  padding: 1rem;
  background-color: var(--clr-black);

  & img {
    width: 2.875rem;
  }

  @media (--viewport-medium) {
  }

  @media (--viewport-large) {
    display: none;
  }
}

.nav-toggle {
  height: 2.5rem;
  overflow: hidden;

  & img {
    transform: translateY(-55%);
    transition: transform 300ms linear;
    cursor: pointer;
  }

  &.toggled img {
    transform: translateY(-5%);
  }
}

.nav-expand {
  display: grid;
  grid-template-rows: 0;
  transition: all 300ms linear;
}

/* Show nav content */
.nav-expand.expand {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  grid-template-rows: 1fr;
  height: calc(100vh - 4rem);
  margin-top: 4rem;
}

/* Nav main items */
.nav-content {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem;
  background-color: var(--clr-black);

  @media (--viewport-large) {
    display: none;
  }
}

.nav-items {
  & li {
    align-items: center;
    margin-bottom: 1.3rem;

    &.click .dropdown-grid {
      grid-template-rows: 1fr;
    }

    & .flex-row {
      display: flex;
      align-items: center;
    }

    &:hover h3 {
      cursor: pointer;
      color: #fff;
    }

    &.toggled h3 {
      color: #fff;
    }

    &.inactive h3 {
      color: var(--clr-active-inactive);
    }
  }

  & h3 {
    margin-right: 1rem;
    font-size: var(--fs-500);
    font-weight: var(--fw-600);
    color: var(--clr-inactive);
  }

  & span {
    width: 7px;
    height: 7px;
    rotate: -135deg;
    border-right: 2px solid var(--clr-inactive);
    border-bottom: 2px solid var(--clr-inactive);
    transition: rotate 200ms linear;
  }

  & span.rotate {
    rotate: 45deg;
  }

  & li:last-child {
    & img {
      width: 1rem;
      margin-right: 0.7rem;
    }
  }
}

/* Nav sub items */
.dropdown-grid {
  display: grid;
  grid-template-rows: 0fr;
  transition: all 200ms linear;
}

.sub-items {
  overflow: hidden;
  padding-left: 0.5rem;

  & li {
    margin-top: 1rem;

    & a {
      font-size: var(--fs-300);
      font-weight: var(--fw-600);
      color: var(--clr-inactive);
    }

    &:hover a {
      cursor: pointer;
      color: #fff;
    }
  }
}

.nav-icons {
  display: flex;
  gap: 2rem;

  & img {
    width: 2rem;
  }

  &:hover {
    cursor: pointer;
    color: #fff;
  }
}

.nav-hidden {
  display: none;
}

@media (--viewport-large) {
  .nav-hidden {
    display: block;
  }

  .desktop-nav {
    width: inherit;
    /* position: relative; */

    .desktop-nav__menu {
      position: fixed;
      top: 0;
      left: 50%;
      display: flex;
      align-items: center;
      translate: -50%;
      width: inherit;
      height: 4rem;
      padding: 1.5rem;
      background-color: var(--clr-black);

      & img {
        width: 3.5rem;
      }
    }
  }

  .desktop-nav__content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-left: 3rem;

    .desktop-nav-items {
      display: flex;
      align-items: center;

      & li {
        margin: 0;
        margin-left: 1rem;
        display: flex;
        flex-direction: column;

        &:hover .dropdown-grid {
          grid-template-rows: 1fr;
        }
      }

      & h3 {
        margin-right: 0;
        font-size: var(--fs-300);
        font-weight: 400;
        color: var(--clr-inactive);
      }

      .dropdown-grid {
        position: absolute;
        top: 4rem;
        left: -119px;
        right: -85px;
        display: grid;
        grid-template-rows: 0fr;
        height: 4rem;
        transition: all 200ms linear;
      }

      .sub-items {
        display: flex;
        align-items: center;
        gap: 0.7rem;
        overflow: hidden;
        padding-left: 2rem;
        background-color: rgb(0, 0, 0, 0.5);

        & li a {
          font-size: var(--fs-300);
          font-weight: var(--fw-600);
          color: rgb(200, 200, 200);

          &:hover {
            cursor: pointer;
            color: #fff;
          }
        }
      }
    }

    .nav-icons {
      position: relative;
      display: flex;
      justify-content: space-between;
      width: 10rem;

      & img {
        width: 1.8rem;

        &:hover {
          cursor: pointer;
          color: #fff;
        }
      }
    }

    .nav-icons::after {
      position: absolute;
      top: -1.5rem;
      right: -1.5rem;
      bottom: -1.1rem;
      content: '';
      width: 1px;
      background-color: var(--clr-inactive);
    }
  }
  .search-bar.search {
    grid-template-rows: 1fr;
    width: 15rem;
  }

  .search-bar {
    /* Relative to nav content */
    position: absolute;
    right: 0px;
    top: 1.1rem;
    display: grid;
    grid-template-rows: 0fr;
    width: 15rem;

    overflow: hidden;
    transition: all 200ms linear;

    & form {
      display: grid;
      grid-template-rows: 1fr;
      transition: all 0.2s linear;
      overflow: hidden;
    }

    & input {
      height: 2rem;
      padding: 0.3rem;
      font-size: var(--fs-300);
      color: var(--clr-inactive);
      background-color: black;
      border: none;
      border-bottom: 1px solid var(--clr-inactive);

      &:hover,
      &:focus {
        cursor: pointer;
      }
    }
  }

  .search {
    width: 1rem;
    margin-left: 3rem;
    color: var(--clr-inactive);
  }
}
