body {
  font-size: var(--fs-400);
  font-weight: var(--fw-300);
  font-family: var(--ff-main);
}

a:hover {
  cursor: pointer;
}

#main-container {
  /* outline: 1px solid red; */
  margin: auto;
  width: min(100%, 1750px);
}
